<div class="offer-content">
  <div class="offer-name">
    <p>{{ offerDetails?.name }}</p>
    <p>{{ offerDetails?.name2 }}</p>
  </div>
  <div class="offer-header">
    <p-galleria
      class="fullscreen-galleria absolute"
      [value]="gallery"
      [(visible)]="fullscreen"
      [(activeIndex)]="fullscreenActive"
      [circular]="true"
      [fullScreen]="true"
      [showItemNavigators]="true"
      [showThumbnails]="false"
      (visibleChange)="toggleFullscreen(undefined)"
    >
      <ng-template pTemplate="item" let-item>
        <img [src]="'../../../assets/images/' + item" style="max-height: 70vh" (click)="toggleFullscreen(undefined)" />
      </ng-template>
    </p-galleria>

    <p-galleria
      class="offer-galleria"
      [value]="gallery"
      [responsiveOptions]="responsiveOptions"
      [numVisible]="5"
      [showItemNavigators]="true"
      [circular]="true"
    >
      <ng-template pTemplate="item" let-item>
        <div class="w-full">
          <img
            [src]="'../../../assets/images/' + item"
            class="w-full"
            (click)="toggleFullscreen(gallery?.indexOf(item))"
          />
        </div>
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div
          style="
            background-image: url('../../../assets/images/{{ item }}'); 
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto 100%;
          "
          class="h-20 w-28 grid grid-nogutter justify-content-center"
        ></div>
      </ng-template>
    </p-galleria>
    <div class="offer-description">
      <p class="panel-title mt-2">Opis oferty</p>
      <div>
        <p>
          {{ offerDetails?.description }}
        </p>
        <hr />
        <div class="contact">
          <i class="pi pi-phone"></i>
          <div>
            <p>Masz pytania?</p>
            <p>Zadzwoń!</p>
          </div>
          <p>{{ phoneNumber }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="offer-params">
    <p class="panel-title">Parametry domu</p>
    <div>
      <div *ngFor="let detail of offerDetails?.offerParams; let idx = index" class="param">
        <p>{{ detail.name }}:</p>
        <p>{{ detail.value }}</p>
      </div>
    </div>
  </div>

  <div class="offer-plans">
    <p class="panel-title">Rzuty</p>
    <div class="plan" *ngFor="let plan of offerDetails?.offerPlans">
      <p class="plan-title">{{ plan.floorName }}</p>
      <div class="image text-center">
        <p-image [src]="'../../../assets/images/' + plan.image" [preview]="true" />
      </div>
      <div>
        <div class="details">
          <div>
            <p>
              <span>{{ plan.floorName }}</span>
            </p>
            <p>{{ getTotal(plan.offerPlanParams) }}</p>
          </div>
          <div *ngFor="let detail of plan.offerPlanParams; let idx = index">
            <p>{{ detail.name }}</p>
            <p>{{ detail.value }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
