@media screen and (max-width: 999px) {
    .panel {
        @apply w-full;
        display: flex;
        flex-flow: column;
    }
    .panel .desc {
        @apply text-black text-center font-semibold my-4;
        font-size: min(5vw, 36px);
        order: 1
    }
    .panel .images {
        @apply pb-4 w-full items-center;
        display: grid;
        grid-template-columns: 32% 32% 32%;
        column-gap: 2%;
        row-gap: 10px;
        order: 2;
    }
}
@media screen and (min-width: 1000px) {
    .panel{
        display: grid;
        grid-template-columns: 75% 25%;
        align-items: center;
    }
    .panel .desc {
        @apply text-black text-center text-4xl font-semibold;
    }
    .panel .images {
        display: grid;
        grid-template-columns: 19.2% 19.2% 19.2% 19.2% 19.2%;
        column-gap: 1%;
        row-gap: 10px;
    }
}

.panel {
    @apply py-2 pl-4 pr-1 ;
}
.panel .images img {
    @apply w-full h-full;
}