<div class="technical-break">
  <div class="content">
    <div>
      <p class="text-center w-full">UWAGA!</p>
      <p class="text-lg"><i class="pi pi-phone mr-1"></i>{{ phone }}</p>
      <p class="text-lg underline">
        <a href="mailto:{{ mail }}"><i class="pi pi-at mr-1"></i>{{ mail }}</a>
      </p>
    </div>
    <div>
      <p class="text-center w-full">PRZERWA TECHNICZNA</p>
      <img src="../../../assets/screw.png" />
      <img src="../../../assets/screw.png" />
      <img src="../../../assets/screw.png" />
      <img src="../../../assets/screw.png" />
    </div>
  </div>
</div>
