<div class="carousel w-screen" *ngIf="useFullCarousel">
  <p-carousel
    id="header-carousel"
    class="pointer-events-none fadeInLeft"
    [value]="carouselItems"
    [showNavigators]="false"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="false"
    [autoplayInterval]="3000"
    #headerCarousel
    ngModel
  >
    <ng-template let-item pTemplate="item">
      <div id="carousel-item" class="h-screen" style="background-image: url('{{ item?.image }}');">
        <div class="text-box" *ngIf="item.contentText != '' || item?.contentTitle != ''">
          <p class="title" *ngIf="item.contentTitle != ''">{{ item?.contentTitle }}</p>
          <p class="text" *ngIf="item.contentText != ''">{{ item?.contentText }}</p>
          <button onclick="window.location.href = '/about-us'">Więcej</button>
        </div>
      </div>
    </ng-template>
  </p-carousel>
  <div #infoItema class="info-item">
    <div>Szukasz solidnej firmy do zrealizowania Twojego projektu?</div>
    <div><button onclick="window.location.href = '/contact'">Napisz do nas!</button></div>
  </div>
</div>
<div
  @fadeIn
  style="
    width: 100vw;
    height: 50vh;
    background-image: url('{{ getConfig(0)?.image }}');
    background-position: center;
    background-size: cover;
  "
  [style.margin-bottom]="useFullCarousel ? '' : '28px'"
  *ngIf="!useFullCarousel"
></div>
