<div class="realisations-content" *ngIf="dataReady">
  <p class="title">Realizacje</p>
  <div class="realisation" *ngFor="let realisation of realisations; let r_index = index">
    <div class="images-grid w-full">
      <img
        #imgElement
        *ngFor="let image of realisation.realisationImages; let img_index = index"
        [src]="'../../../assets/images/' + image.imageSrc"
        style="cursor: pointer; display: none"
        (click)="imageClick(r_index, img_index); realisationTitle = realisation.name"
        (load)="imgElement.style.display = 'block'"
      />
    </div>
    <p class="realisation-title">{{ realisation.name }}</p>

    <p-galleria
      class="fullscreen-galleria"
      [value]="realisation.realisationImages"
      [(visible)]="displayCustom"
      [circular]="true"
      [activeIndex]="activeIndex"
      [numVisible]="7"
      [fullScreen]="true"
      [showItemNavigators]="false"
      [showThumbnails]="false"
    >
      <ng-template pTemplate="item" let-img>
        <div>
          <button class="custom-nav-button-prev" (click)="imageNext()">
            <i class="pi pi-angle-left text-4xl"></i>
          </button>
          <img
            id="realisation-full-img"
            [src]="'../../../assets/images/' + currentGalleryImage"
            (click)="displayCustom = false"
            style="max-height: 88vh"
          />
          <p class="text-white" [style.fontSize]="'min(24px, 5vw)'">{{ realisationTitle }}</p>
          <button class="custom-nav-button-next" (click)="imageNext()">
            <i class="pi pi-angle-right text-4xl"></i>
          </button>
        </div>
      </ng-template>
    </p-galleria>
  </div>
</div>
